In [1]:
%load_ext autoreload
%autoreload 2
import sys
import sqlite3
sys.path.append("../")
from pandasdb.connections import SQLiteConnection
from pandasdb import DataBase
import pandas as pd

In [42]:
db = DataBase(SQLiteConnection(location="data/test.db"))
db.info.query

'SELECT info.id, info.buzzword, info.car, info.city, info.creditcard, info.app_version, info.country, info.lat, info.lon, info.title FROM info'

In [43]:
db.info.filter((db.info.lon < 40) & (db.info.lon > 38)).query

'SELECT info.id, info.buzzword, info.car, info.city, info.creditcard, info.app_version, info.country, info.lat, info.lon, info.title FROM info (info.lon < 40 AND info.lon > 38)'

In [7]:
db.info.select_expr(db.info.car, db.info.city, "lat as latitude").order_by("lat", False)

          car       city   latitude
0  Volkswagen  Vidyayevo  68.883330
1   Chevrolet     Kiruna  67.825618
2     Pontiac      Luleå  65.592145
3     Mercury      Luleå  65.575991
4     Bentley  Trondheim  63.410769

In [21]:
df = db.users.order_by("last_name").df()

,id,first_name,last_name,email,gender,ip_address
0,134,Oswell,Aaronson,oaaronson3p@businessweek.com,Male,66.203.161.184
1,856,Fielding,Aberkirder,faberkirdernr@sciencedaily.com,Male,196.120.238.192
2,45,Merralee,Aberkirdo,maberkirdo18@bloglovin.com,Female,202.3.255.47
3,191,Kamilah,Abramchik,kabramchik5a@admin.ch,Female,27.52.209.162
4,924,Cross,Abry,cabrypn@wunderground.com,Male,84.202.122.207
5,173,Paxton,Adamolli,padamolli4s@huffingtonpost.com,Male,197.37.161.119
6,587,Lemmy,Addinall,laddinallga@slashdot.org,Male,50.119.143.3
7,721,Angel,Adlem,aadlemk0@mediafire.com,Male,166.62.99.198
8,812,Claudell,Adnams,cadnamsmj@biblegateway.com,Male,99.231.208.110
9,758,Teddie,Adriaens,tadriaensl1@tuttocitta.it,Female,32.44.171.102
10,567,Regan,Aguirre,raguirrefq@msu.edu,Male,204.34.187.184
11,432,Jerrie,Aireton,jairetonbz@about.me,Female,169.33.150.3
12,279,Netta,Akram,nakram7q@usda.gov,Female,172.249.244.236
13,730,Faina,Alaway,falawayk9@fema.gov,Female,221.194.208.229
14,916,Oliver,Aldwich,oaldwichpf@psu.edu,Male,51.220.5.129
15,347,Dwayne,Allawy,dallawy9m@wufoo.com,Male,224.151.94.202
16,810,Candice,Allender,callendermh@hexun.com,Female,94.94.33.36
17,814,Josselyn,Alphege,jalphegeml@scribd.com,Female,159.57.128.87
18,937,Kimble,Alpin,kalpinq0@thetimes.co.uk,Male,93.216.44.125
19,460,Arden,Altham,aalthamcr@yahoo.com,Female,161.111.63.225
20,646,Roseline,Alvis,ralvishx@xinhuanet.com,Female,51.76.61.81
21,349,Cyrus,Ammer,cammer9o@berkeley.edu,Male,126.68.113.85
22,282,Gannie,Andell,gandell7t@acquirethisname.com,Male,254.255.9.163
23,21,Gwendolyn,Andren,gandrenk@ustream.tv,Female,244.242.1.240
24,278,Sisile,Annets,sannets7p@wp.com,Female,175.4.147.67
25,93,Sarah,Antognelli,santognelli2k@pbs.org,Female,181.72.170.98
26,310,Cazzie,Antoniades,cantoniades8l@gravatar.com,Male,95.5.223.253
27,781,Boote,Antonikov,bantonikovlo@pinterest.com,Male,156.92.177.244
28,777,Rodrique,Apark,raparklk@sitemeter.com,Male,70.121.98.51
29,182,Lilith,Areles,lareles51@friendfeed.com,Female,225.91.211.83
...,...,...,...,...,...,...
970,707,Zacherie,Whitlow,zwhitlowjm@comcast.net,Male,123.209.39.213
971,264,Cassi,Whitrod,cwhitrod7b@zimbio.com,Female,44.144.239.15
972,221,Britney,Whitta,bwhitta64@163.com,Female,106.162.192.10
973,157,Carlin,Whyke,cwhyke4c@jimdo.com,Female,7.143.23.108
974,572,Esteban,Widdowes,ewiddowesfv@t-online.de,Male,156.11.2.86
975,867,Nolly,Wigmore,nwigmoreo2@privacy.gov.au,Male,122.223.9.65
976,596,Tanitansy,Wilcinskis,twilcinskisgj@google.es,Female,209.244.206.46
977,695,Lorinda,Wilden,lwildenja@wikia.com,Female,109.99.110.39
978,603,Arther,Willshere,awillsheregq@unc.edu,Male,92.36.100.212
979,535,Agnesse,Winborn,awinborneu@constantcontact.com,Female,235.228.219.249
980,923,Lyndsie,Windibank,lwindibankpm@ucoz.com,Female,43.2.169.198
981,198,Fanya,Wingfield,fwingfield5h@bbc.co.uk,Female,3.20.52.92
982,48,Brade,Winwood,bwinwood1b@ask.com,Male,169.35.214.113
983,696,Drona,Wittey,dwitteyjb@cisco.com,Female,205.226.210.51
984,36,Merrel,Woodnutt,mwoodnuttz@intel.com,Male,133.126.181.207
985,555,Eziechiele,Woodyer,ewoodyerfe@google.fr,Male,237.8.102.47
986,649,Kimbell,Woolforde,kwoolfordei0@state.tx.us,Male,110.173.145.18
987,736,Brittany,Woollett,bwoollettkf@ftc.gov,Female,92.31.159.71
988,320,Delcina,Wornham,dwornham8v@blinklist.com,Female,12.22.185.170
989,621,Bastien,Worpole,bworpoleh8@woothemes.com,Male,229.38.51.21
990,364,Walker,Worsnup,wworsnupa3@businessinsider.com,Male,62.209.169.211
991,802,Durand,Worstall,dworstallm9@photobucket.com,Male,224.77.16.55
992,239,Loren,Wrenn,lwrenn6m@usgs.gov,Male,108.233.94.153
993,472,Margeaux,Yakubowicz,myakubowiczd3@craigslist.org,Female,191.98.218.92
994,611,Moina,Yantsev,myantsevgy@shutterfly.com,Female,121.37.146.145
995,626,Fredek,Ybarra,fybarrahd@bluehost.com,Male,206.235.76.46
996,835,Kimbell,Yurocjhin,kyurocjhinn6@ocn.ne.jp,Male,201.145.234.138
997,639,Curran,Zemler,czemlerhq@ftc.gov,Male,34.236.195.170
998,568,Gillie,Zoren,gzorenfr@patch.com,Female,126.2.134.106
999,46,Gino,de Savery,gdesavery19@bbc.co.uk,Male,229.181.220.66

In [45]:
df = (db.info.join(db.users, "id", "id")
        .filter((db.info.car == "Buick") & (db.users.gender == "Female"))
        .select(db.info.car, db.info.app_version, db.users.gender, db.users.id)
        .order_by("app_version", ascending=False))
df.query

"SELECT info.car, info.app_version, users.gender, users.id FROM info LEFT JOIN users ON info.id = users.id (info.car = 'Buick' AND users.gender = 'Female') ORDER BY app_version DESC"

In [22]:
conn = sqlite3.connect("data/test.db")
for row in conn.cursor().execute('SELECT info.id, city, lat FROM info ORDER BY lat DESC').fetchall():
    pass

In [32]:
import pandasdb.functions as funcs
db.users.group_by("gender").agg(
    funcs.count(db.users.id).alias("amount"),
    funcs.max(db.users.id).alias("biggest_id"),
)

   gender  amount  biggest_id
0  Female     468         998
1    Male     532        1000

In [38]:
db.users.group_by("gender").agg(
    funcs.count(db.users.id).alias("amount"),
    funcs.max(db.users.id).alias("biggest_id"),
)

   gender  amount  biggest_id
0  Female     468         998
1    Male     532        1000